*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  /* height: 100%; */
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #292929;
  color: #ededed;
  margin: 0;
  padding: 0;
}

h1,
h2,
p {
  margin: 0;
}

h2,
p {
  margin: 0 0 20px 0;
  line-height: 1.4;
}

header {
  margin: 0 0 30px 0;
  padding: 20px 0;
  background-color: #101010;
}

.container {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

/* 

https://www.youtube.com/watch?v=HJZP5QsrpXs


🔴 UPD упрощенная формула (медиа запрос не нужен):
font-size: calc(24px + 16 * ((100vw - 320px) / (1280 - 320)));

SCSS Миксин:
$maxWidth: 1280;
@mixin adaptiv-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
} 

К заполнению:
h1 {
  font-weight: 900;
  @include adaptiv-font(40, 24);
}



*/

/* ADAPTIVE FONT */

h1 {
  /* font-size: 40px; */
  font-weight: 900;
  font-size: calc(24px + 16 * ((100vw - 320px) / (1280 - 320)));
}

/* 
Первое значение - минимальное (24px) на экране 320px;
Второе значение - сложение двух чисел - (40px) на заданной ширине (1280px) 
*/


h2 {
  font-weight: 900;
  font-size: calc(20px + 10 * ((100vw - 320px) / (1280 - 320)));
}

p {
  font-weight: 400;
  font-size: calc(14px + 2 * ((100vw - 320px) / (1280 - 320)));
}

